/* color palette */
:root {
  --white: #fff;
  --gold: #BD945A;
  --black: #000;
  --black-light: #525252;
  --grey-strong: #888;
  --grey-medium: #ececec;
  --grey-light: #faf8f7;
  --grey-with-red-tint: #f6f1f0;
}

/* semantic color variables for this project */
:root {
  --color-text-gold: var(--gold);
  --color-text-white: var(--white);
  --color-text-black: var(--black);
  --color-text-light-black: var(--black-light);
  --color-text-strong-grey: var(--grey-strong);
  --color-text-medium-grey: var(--grey-medium);
  --color-background-gold: var(--gold);
  --color-background-grey: var(--grey-light);
  --color-background-white: var(--white);
  --color-background-grey-with-red: var(--grey-with-red-tint);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --color-background: var(--vt-c-black);*/
/*    --color-background-soft: var(--vt-c-black-soft);*/
/*    --color-background-mute: var(--vt-c-black-mute);*/

/*    --color-border: var(--vt-c-divider-dark-2);*/
/*    --color-border-hover: var(--vt-c-divider-dark-1);*/

/*    --color-heading: var(--vt-c-text-dark-1);*/
/*    --color-text: var(--vt-c-text-dark-2);*/
/*  }*/
/*}*/

*,
*::before,
*:focus,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  outline: none;
  cursor: default;
}

body {
  min-height: 100vh;
  color: var(--color-text-black);
  background: var(--color-background-grey);
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.active {
  overflow-y: hidden;
}

body.active .content-container .aside-nav {
  left: 0;
}


.container {
  padding: 0 60px;
  margin-left: 30%;
  transition: 0.5s;
}

.container .row {
  margin: auto;
  max-width: 1140px;
}

@media (min-width: 1200px) {
  .container {
    margin-left: 355px;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 0 30px;
    margin-left: 22%;
  }
  .container .row {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
    margin-left: 0;
  }
  .container .row {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .container .row {
    max-width: 540px;
  }
}

@font-face {
  font-family: 'BeauRivage-Regular';
  src: url('./fonts/BeauRivage-Regular.ttf') format('truetype');
}
